html.automidi component
  display: flex
  font-family: var(--automidi-font-sans)
  color: var(--automidi-text-1)

  .no-project &
    opacity: 0.6
    pointer-events: none

    *
      pointer-events: none