@use "@/colors"

html.automidi component
  display: flex

  &.midi, .midi &, &.automated, .automated &
    border-radius: 0.125em
    background-color: var(--automidi-surface-2)

  &.midi, .midi &
    box-shadow: 0 0 1px 0 var(--automidi-warning)

  &.automated, .automated &
    box-shadow: 0 0 1px 0 var(--automidi-accent)