html.automidi component
  display: contents

html.automidi .automation-indicator
  position: absolute
  pointer-events: none
  border-radius: 2px
  background-color: var(--automidi-surface-2)

  &.automated
    box-shadow: 0 0 1px 0 var(--automidi-accent)

  &.midi
    box-shadow: 0 0 1px 0 var(--automidi-warning)

  &.modulated
    box-shadow: 0 0 1px 0 var(--automidi-success)

  &.external
    box-shadow: 0 0 1px 0 var(--automidi-mode-infilling)
