html.automidi component
  --color-active: var(--color)

  appearance: none
  margin: 0
  padding: 0
  min-width: 1.5em
  flex: 0 0 auto
  display: flex
  place-items: center
  place-content: center
  outline: none
  border: none
  background: none
  color: var(--color, var(--automidi-text-1))
  font: inherit
  font-family: var(--automidi-font-sans)
  pointer-events: all
  cursor: pointer

  > *
    pointer-events: none

  .disabled &
    opacity: 0.3
    pointer-events: none

  &.stretch
    flex: 1 0 auto

  &.pointer
    cursor: pointer

  &.tiny-triangle:after
    content: "▾"
    font-size: 0.625em
    position: relative
    top: 0.75em
    left: 0

  > label
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 0.75em
    column-gap: 0.25em

  &.framed
    border-radius: var(--automidi-radius-md)
    border: 0.5px solid var(--color, var(--automidi-border))
    box-shadow: 0 0 3px -1px var(--color, var(--automidi-accent))
    min-height: 1.5em

    > label
      padding: 0 0.25em 0 0.5em

  &.active
    color: var(--color-active, var(--automidi-accent))

    &.framed
      border: 0.5px solid var(--color-active, var(--automidi-accent))
      box-shadow: 0 0 3px -1px var(--color-active, var(--automidi-accent))