@use "@/colors"

html.automidi component
  padding: 0 0.5em
  white-space: nowrap
  max-width: 100%
  color: var(--automidi-text-2)
  position: relative
  text-align: right
  font-size: 8px
  overflow: hidden
  display: flex
  column-gap: 0.25em
  justify-content: end
  font-family: var(--automidi-font-sans)

  &.center
    justify-content: center

  &[unit]:not([unit=""]):after
    content: attr(unit)
    color: var(--automidi-text-3)
    flex: 0 0 1em
    text-align: left

  &.modifying, .modifying &
    color: var(--automidi-accent)

  &.framed
    min-width: 44px
    border-radius: var(--automidi-radius-sm)
    text-align: right
    line-height: 18px

    &.modifying, .modifying &
      box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.1)
      background-color: var(--automidi-surface-3)